infra/step_functions/pipeline.asl.json
{
  "Comment": "Manga-to-Video Pipeline State Machine - Fetches manga, generates scripts/audio, renders video, uploads to YouTube",
  "StartAt": "CheckQuota",
  "States": {
    "CheckQuota": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:manga-pipeline-check-quota",
      "Comment": "Check if daily video quota has been reached",
      "ResultPath": "$.quotaCheck",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ],
      "Next": "QuotaChoice"
    },
    "QuotaChoice": {
      "Type": "Choice",
      "Comment": "Determine if quota has been reached",
      "Choices": [
        {
          "Variable": "$.quotaCheck.quota_reached",
          "BooleanEquals": true,
          "Next": "QuotaReached"
        }
      ],
      "Default": "FetchManga"
    },
    "QuotaReached": {
      "Type": "Succeed",
      "Comment": "Daily quota reached, stop processing"
    },
    "FetchManga": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:manga-pipeline-fetcher",
      "Comment": "Fetch manga chapters and download panel images",
      "ResultPath": "$.fetchResult",
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "IntervalSeconds": 60,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ],
      "Next": "FetchChoice"
    },
    "FetchChoice": {
      "Type": "Choice",
      "Comment": "Check if manga was available",
      "Choices": [
        {
          "Variable": "$.fetchResult.status",
          "StringEquals": "no_manga_available",
          "Next": "NoMangaAvailable"
        }
      ],
      "Default": "PrepareScriptInput"
    },
    "NoMangaAvailable": {
      "Type": "Succeed",
      "Comment": "No manga available to process"
    },
    "PrepareScriptInput": {
      "Type": "Pass",
      "Comment": "Prepare input for script generation",
      "Parameters": {
        "job_id.$": "$.fetchResult.job_id"
      },
      "Next": "GenerateScript"
    },
    "GenerateScript": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:manga-pipeline-scriptgen",
      "Comment": "Generate Vietnamese narration script using LLM",
      "ResultPath": "$.scriptResult",
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "IntervalSeconds": 60,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ],
      "Next": "GenerateTTS"
    },
    "GenerateTTS": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:manga-pipeline-ttsgen",
      "Comment": "Generate Vietnamese TTS audio using Edge TTS",
      "ResultPath": "$.ttsResult",
      "TimeoutSeconds": 900,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "IntervalSeconds": 60,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ],
      "Next": "StartRenderer"
    },
    "StartRenderer": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:manga-pipeline-start-renderer",
      "Comment": "Launch EC2 Spot instance for video rendering",
      "InputPath": "$",
      "ResultPath": "$.rendererInstance",
      "Parameters": {
        "job_id.$": "$.job_id",
        "task_token.$": "$$.Task.Token"
      },
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ],
      "Next": "WaitForRender"
    },
    "WaitForRender": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Comment": "Wait for rendering to complete (callback pattern)",
      "Parameters": {
        "FunctionName": "manga-pipeline-renderer-callback",
        "Payload": {
          "job_id.$": "$.job_id",
          "task_token.$": "$$.Task.Token"
        }
      },
      "ResultPath": "$.renderResult",
      "TimeoutSeconds": 14400,
      "HeartbeatSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": ["States.Timeout", "States.HeartbeatTimeout"],
          "IntervalSeconds": 60,
          "MaxAttempts": 2,
          "BackoffRate": 1.5,
          "Comment": "Retry on timeout (Spot interruption)"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ],
      "Next": "StartUploader"
    },
    "StartUploader": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:manga-pipeline-start-uploader",
      "Comment": "Launch EC2 Spot instance for YouTube upload",
      "InputPath": "$",
      "ResultPath": "$.uploaderInstance",
      "Parameters": {
        "job_id.$": "$.job_id",
        "task_token.$": "$$.Task.Token"
      },
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ],
      "Next": "WaitForUpload"
    },
    "WaitForUpload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Comment": "Wait for YouTube upload to complete (callback pattern)",
      "Parameters": {
        "FunctionName": "manga-pipeline-uploader-callback",
        "Payload": {
          "job_id.$": "$.job_id",
          "task_token.$": "$$.Task.Token"
        }
      },
      "ResultPath": "$.uploadResult",
      "TimeoutSeconds": 7200,
      "HeartbeatSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": ["States.Timeout", "States.HeartbeatTimeout"],
          "IntervalSeconds": 60,
          "MaxAttempts": 2,
          "BackoffRate": 1.5,
          "Comment": "Retry on timeout (Spot interruption)"
        },
        {
          "ErrorEquals": ["YouTubeQuotaError"],
          "MaxAttempts": 0,
          "Comment": "Do not retry quota errors"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["YouTubeQuotaError"],
          "ResultPath": "$.error",
          "Next": "QuotaReached"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ],
      "Next": "Cleanup"
    },
    "Cleanup": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:manga-pipeline-cleanup",
      "Comment": "Clean up temporary S3 artifacts",
      "InputPath": "$",
      "ResultPath": "$.cleanupResult",
      "Parameters": {
        "job_id.$": "$.job_id"
      },
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.cleanupError",
          "Comment": "Continue even if cleanup fails",
          "Next": "IncrementCounter"
        }
      ],
      "Next": "IncrementCounter"
    },
    "IncrementCounter": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:manga-pipeline-increment-counter",
      "Comment": "Increment daily video counter in DynamoDB",
      "ResultPath": "$.counterResult",
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
          "IntervalSeconds": 5,
          "MaxAttempts": 5,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.counterError",
          "Comment": "Continue even if counter increment fails",
          "Next": "CheckMoreVideos"
        }
      ],
      "Next": "CheckMoreVideos"
    },
    "CheckMoreVideos": {
      "Type": "Choice",
      "Comment": "Check if we should process more videos",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.counterResult.daily_count",
              "IsPresent": true
            },
            {
              "Variable": "$.counterResult.daily_count",
              "NumericLessThanPath": "$.quotaCheck.daily_quota"
            }
          ],
          "Next": "FetchManga"
        }
      ],
      "Default": "Done"
    },
    "HandleError": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:manga-pipeline-handle-error",
      "Comment": "Update job to failed status and log error",
      "InputPath": "$",
      "ResultPath": "$.errorResult",
      "Parameters": {
        "job_id.$": "$.job_id",
        "error.$": "$.error",
        "state.$": "$$.State.Name",
        "execution_id.$": "$$.Execution.Id"
      },
      "TimeoutSeconds": 60,
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "CheckMoreVideos"
    },
    "Done": {
      "Type": "Succeed",
      "Comment": "Pipeline completed successfully"
    }
  }
}
